1 задание

In [15]:
import pandas as pd

df_house = pd.read_csv('./kc_house_data.csv')
df_house.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

2 задание

In [2]:
df_house.shape

(21613, 21)

In [3]:
df_house.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
df_house.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

Проверка наличия пропущенных значений в каждом столбце:

In [8]:
df_house.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
df_house.isnull().any()

id               False
date             False
price            False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront       False
view             False
condition        False
grade            False
sqft_above       False
sqft_basement    False
yr_built         False
yr_renovated     False
zipcode          False
lat              False
long             False
sqft_living15    False
sqft_lot15       False
dtype: bool

In [30]:
df_house.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [12]:
df_house['price'].describe()

count    2.161300e+04
mean     5.400881e+05
std      3.671272e+05
min      7.500000e+04
25%      3.219500e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [13]:
df_house['price'].value_counts()

price
350000.0     172
450000.0     172
550000.0     159
500000.0     152
425000.0     150
            ...
607010.0       1
1362500.0      1
298800.0       1
957500.0       1
402101.0       1
Name: count, Length: 4028, dtype: int64

In [14]:
df_house.describe(include=['object'])

                   date
count             21613
unique              372
top     20140623T000000
freq                142

Вывод: Цена (Price): 
Существует значительный разброс в ценах на недвижимость, с максимальной ценой в 7.7 миллионов 
долларов и минимальной в 75 тысяч долларов. Средняя цена составляет примерно 540 тысяч долларов, 
что указывает на высокую стоимость недвижимости в данном регионе.

Количество спален (Bedrooms): Большинство домов имеют от 3 до 4 спален. Наличие дома с 33 спальнями 
может быть аномалией или выбросом в данных.

3 задание

В каком диапазоне изменяются стоимости недвижимости?

In [19]:
df_house['price'].min(), df_house['price'].max()

(75000.0, 7700000.0)

Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [29]:
df_house['sqft_living'].mean() * 100 / df_house['sqft_lot'].mean()

2.217357689344816

Как много домов с разными этажами в данных?

In [31]:
df_house['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

Насколько хорошее состояния у домов в данных?

In [32]:
df_house['condition'].describe()

count    21613.000000
mean         3.409430
std          0.650743
min          1.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: condition, dtype: float64

In [33]:
df_house['condition'].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [34]:
df_house['yr_built'].min(), df_house['yr_built'].max()

(1900, 2015)

4 Задание

In [ ]:
Сколько в среднем стоят дома, у которых 2 спальни?

In [36]:
df = df_house[df_house['bedrooms'] == 2]

In [38]:
df['price'].mean()

401372.681884058

Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [40]:
df_house[df_house['price'] > 60000]['sqft_lot'].mean()

15106.967565816869

Как много домов коснулся ремонт?

In [42]:
df_house[df_house['yr_renovated'] != 0].shape[0]

914

Насколько в среднем стоимость домов с оценкой grade выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [45]:
df_house[df_house['grade'] > 10]['price'].mean() - df_house[df_house['grade'] < 4]['price'].mean()

1488885.1175298805

5 Задание

Выберите дом клиенту. Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [47]:
df_house[(df_house['waterfront'] == 1) & (df_house['bathrooms'] >= 3) & (df_house['sqft_basement'] > 0)].shape[0]

41

Выберите дом клиенту. Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [52]:
df_house[['view', 'condition']].describe()

               view     condition
count  21613.000000  21613.000000
mean       0.234303      3.409430
std        0.766318      0.650743
min        0.000000      1.000000
25%        0.000000      3.000000
50%        0.000000      3.000000
75%        0.000000      4.000000
max        4.000000      5.000000

In [66]:
filtered_df = df_house[((df_house['view'] == 4) | (df_house['waterfront'] == 1)) & (df_house['condition'] == 5) & (df_house['yr_built'] >= 1980)]

In [69]:
filtered_df['price'].min(), filtered_df['price'].max()

(1295000.0, 3000000.0)

Выберите дом клиенту. Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [72]:
condition = ((df_house['sqft_basement'] == 0) & (df_house['floors'] == 2) & (df_house['price'] < 150000))
choise = df_house[condition]
choise['condition'].mean()

2.8333333333333335