In [2]:
!pip install numpy
!pip install pandas
!pip install scipy

Requirement already satisfied: numpy in d:\programming_project\red_head_data_science\venv\lib\site-packages (1.26.2)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in d:\programming_project\red_head_data_science\venv\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in d:\programming_project\red_head_data_science\venv\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\programming_project\red_head_data_science\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\programming_project\red_head_data_science\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\programming_project\red_head_data_science\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\programming_project\red_head_data_science\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scipy in d:\programming_project\red_head_data_science\venv\lib\site-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in d:\programming_project\red_head_data_science\venv\lib\site-packages (from scipy) (1.26.2)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import numpy as np
import pandas as pd
from scipy.stats import mode

1) Загрузить, посмотреть, определить количество строк и объединить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.

In [4]:
import zipfile
import os

# Укажите путь к вашему ZIP-файлу
zip_path = 'Материалы для домашнего задания v2.zip'

# Укажите папку, куда вы хотите распаковать архив
extract_folder = 'Unpacked_materials'

# Проверяем, существует ли директория, и если нет, создаем ее
if not os.path.exists(extract_folder):
    os.makedirs(extract_folder)

# Распаковываем архив
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_folder)

print(f'Файлы из архива {zip_path} были успешно распакованы в {extract_folder}')

Файлы из архива Материалы для домашнего задания v2.zip были успешно распакованы в Unpacked_materials

In [5]:
df_subscribers = pd.read_csv('./Unpacked_materials/subscribers.csv')
df_subscribers.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [6]:
df_marketing_campaign = pd.read_csv('./Unpacked_materials/marketing_campaign.csv')
df_users = pd.read_csv('./Unpacked_materials/users.csv')

In [7]:
df_users.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [8]:
df_marketing_campaign.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True

Объединение таблиц

In [9]:
df_1 = df_users.set_index('user_id')
df_2 = df_subscribers.set_index('user_id')
df_3 = df_marketing_campaign.set_index('user_id')

In [10]:
# Объединяем df_1 и df_2
df_merged = df_1.join(df_2, how='outer')

# Теперь объединяем результат с df_3
df_final = df_merged.join(df_3, how='outer')

In [11]:
df_final.head()

,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained,date_served,marketing_channel,variant,language_displayed,converted
user_id,,,,,,,,,,,
a1000,0-18 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
a1001,19-24 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
a1002,24-30 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
a1003,30-36 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True
a1004,36-45 years,English,House Ads,1/1/18,NaN,True,1/1/18,House Ads,personalization,English,True

2) Определить типы и статистики колонок

In [12]:
df_final.dtypes

age_group              object
language_preferred     object
subscribing_channel    object
date_subscribed        object
date_canceled          object
is_retained            object
date_served            object
marketing_channel      object
variant                object
language_displayed     object
converted              object
dtype: object

In [13]:
df_final.describe()

,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained,date_served,marketing_channel,variant,language_displayed,converted
count,10037,10037,1856,1856,577,1856,10021,10022,10037,10037,10022
unique,7,4,5,31,115,2,31,5,2,4,2
top,19-24 years,English,Instagram,1/16/18,4/2/18,True,1/15/18,House Ads,control,English,False
freq,1682,9275,600,163,15,1279,789,4733,5091,9793,8946

In [14]:
# Выводим описательную статистику для всех колонок
print(df_final.describe(include='all'))

          age_group language_preferred subscribing_channel date_subscribed  \
count         10037              10037                1856            1856
unique            7                  4                   5              31
top     19-24 years            English           Instagram         1/16/18
freq           1682               9275                 600             163

       date_canceled is_retained date_served marketing_channel  variant  \
count            577        1856       10021             10022    10037
unique           115           2          31                 5        2
top           4/2/18        True     1/15/18         House Ads  control
freq              15        1279         789              4733     5091

       language_displayed converted
count               10037     10022
unique                  4         2
top               English     False
freq                 9793      8946

In [15]:
# Выводим общую информацию о DataFrame
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10037 entries, a1000 to a11036
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age_group            10037 non-null  object
 1   language_preferred   10037 non-null  object
 2   subscribing_channel  1856 non-null   object
 3   date_subscribed      1856 non-null   object
 4   date_canceled        577 non-null    object
 5   is_retained          1856 non-null   object
 6   date_served          10021 non-null  object
 7   marketing_channel    10022 non-null  object
 8   variant              10037 non-null  object
 9   language_displayed   10037 non-null  object
 10  converted            10022 non-null  object
dtypes: object(11)
memory usage: 1.2+ MB
None

3) Определить эффективность маркетинговых каналов по привлечению платящих игроков

In [16]:
pd.crosstab(
            index=df_final['converted'],
            columns=df_final['marketing_channel'],
            normalize='columns')

marketing_channel     Email  Facebook  House Ads  Instagram      Push
converted
False              0.658407  0.872581   0.937038   0.858365  0.916415
True               0.341593  0.127419   0.062962   0.141635  0.083585

4) Определить количество игроков в каждой возрастной группе

In [17]:
df_final['age_group'].value_counts()

age_group
19-24 years    1682
24-30 years    1568
0-18 years     1539
30-36 years    1355
36-45 years    1353
45-55 years    1353
55+ years      1187
Name: count, dtype: int64

5) Определить самую раннюю дату подписки на сервис

In [18]:
df_final['date_served'] = pd.to_datetime(df_final['date_served'], errors='coerce')
df_final['date_subscribed'] = pd.to_datetime(df_final['date_subscribed'], errors='coerce')
df_final['date_canceled'] = pd.to_datetime(df_final['date_canceled'], errors='coerce')

C:\Users\ilya3\AppData\Local\Temp\ipykernel_2704\2161244408.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_final['date_served'] = pd.to_datetime(df_final['date_served'], errors='coerce')
C:\Users\ilya3\AppData\Local\Temp\ipykernel_2704\2161244408.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_final['date_subscribed'] = pd.to_datetime(df_final['date_subscribed'], errors='coerce')
C:\Users\ilya3\AppData\Local\Temp\ipykernel_2704\2161244408.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_final['date_canceled'] = pd.to_datetime(df_final['date_canceled'], errors='coerce')

In [19]:
df_final['date_subscribed'].sort_values().head(1)

user_id
a1000   2018-01-01
Name: date_subscribed, dtype: datetime64[ns]

In [31]:
df_final['date_subscribed'].sort_values(ascending=False).head(1)

user_id
a1790   2018-01-31
Name: date_subscribed, dtype: datetime64[ns]

6) Определить портрет аудитории удержанных подписчиков (по возрасту и языку)

In [25]:
fix_df = df_final[df_final['is_retained'] == True]

In [26]:
pd.crosstab(
    index=df_final['language_preferred'],
    columns=df_final['age_group'], 
)

age_group,0-18 years,19-24 years,24-30 years,30-36 years,36-45 years,45-55 years,55+ years
language_preferred,,,,,,,
Arabic,19,26,19,19,19,21,22
English,1421,1560,1442,1251,1260,1240,1101
German,31,29,35,16,19,25,12
Spanish,68,67,72,69,55,67,52